<style type="text/css">
  .bundle-filtering div.form-group { margin: 0 5px; }
  .bundle-filtering div.form-group input { margin-top: 0 }
</style>

<div class="controller-section" ng-controller="Osgi.BundleListController">
  <div class="container-fluid">
    <div class="row">
      <div class="pull-left">
        <form class="form-inline">
          <div class="form-group">
            <div class="btn-group">
              <a ng-href="#/osgi/bundle-list?p=container" type="button" class="btn btn-default active" title="List view">
                <i class="icon-list"></i>
              </a>
              <a ng-href="#/osgi/bundles?p=container" type="button" class="btn btn-default" title="Table view">
                <i class="icon-table"></i>
              </a>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Install Bundle..." ng-model="bundleUrl" style="width: 350px" />
              <span class="input-group-btn">
                <button ng-disabled="installDisabled()" class="btn btn-default" ng-click="install()" title="Install">
                  <i class="icon-ok"></i>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="pull-right">
        <form class="form-inline bundle-filtering">
          <div class="form-inline">
            <label>Show bundles: </label>
          </div>
          <div class="form-group">
            <label for="showActiveMQBundles">ActiveMQ</label>
            <input id="showActiveMQBundles" type="checkbox" ng-model="display.showActiveMQBundles" />
          </div>
          <div class="form-group">
            <label for="showCamelBundles">Camel</label>
            <input id="showCamelBundles" type="checkbox" ng-model="display.showCamelBundles">
          </div>
          <div class="form-group">
            <label for="showCxfBundles">CXF</label>
            <input id="showCxfBundles" type="checkbox" ng-model="display.showCxfBundles">
          </div>
          <div class="form-group">
            <label for="showPlatformBundles">Platform</label>
            <input id="showPlatformBundles" type="checkbox" ng-model="display.showPlatformBundles">
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="display.sortField" id="sortField">
              <option value="Identifier">Sort by ID</option>
              <option value="Name">Sort by Name</option>
              <option value="Symbol icName">Sort by Symbolic Name</option>
            </select>
            <select class="form-control" ng-model="display.bundleField" id="bundleField">
              <option value="Name">Display Name</option>
              <option value="SymbolicName">Display Symbolic Name</option>
            </select>
            <input class="input-small form-control" type="number" min="0"
                ng-model="display.startLevelFilter"
                placeholder="Start Level..." />
          </div>
          <div class="form-group section-filter">
            <input class="input-sm form-control search-query" type="text" ng-model="display.bundleFilter" placeholder="Filter..." />
            <i class="icon-remove clickable" title="Clear filter" ng-click="display.bundleFilter = ''"></i>
          </div>
        </form>
      </div>
    </div>

    <div class="row" id="bundleTableHolder">
      <!-- Just create a bit of space between the form and the controls -->
      <p></p>

      <script type="text/ng-template" id="popoverTemplate">
        <small>
          <table class="table">
            <tbody>
              <tr ng-repeat="(k, v) in bundle track by $index">
                <td class="property-name">{{k}}</td>
                <td class="property-value">{{v}}</td>
              </tr>
            </tbody>
          </table>
        </small>
      </script>

      <div class="bundle-list"
          hawtio-auto-columns=".bundle-item">
        <div ng-repeat="bundle in bundles"
            class="bundle-item"
            ng-show="filterBundle(bundle)"
            hawtio-template-popover title="Bundle details">
          <a id="{{bundle.Identifier}}"
              ng-href="#/osgi/bundle/{{bundle.Identifier}}?p=container">
            <span class="badge" ng-class="getStateStyle(bundle.State)">{{getLabel(bundle)}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
