<div ng-controller="Infinispan.QueryController" class="container-fluid">
  <div class="row">
    <div clas="col-md-12">
      <form class="form-inline">
        <div class="form-group section-filter" style="text-align: center; white-space: nowrap">
          <input class="input-sm search-query form-control" type="text" ng-model="sql" placeholder="InSQL statement.." style="width: 300px" />
          <i class="icon-remove clickable" title="Clear filter" ng-click="sql = ''"></i>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-disabled="!sql" ng-click="doQuery()" title="Perform the InSQL on the cache" data-placement="bottom">
            <i class="icon-search"></i> Execute
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <p>{{output}}</p>
  </div>
  <!--
    <div class="row">
      <div class="gridStyle" hawtio-datatable="gridOptions"></div>
    </div>

    <script type="text/ng-template" id="resultDetailTemplate">
    </script>
  -->
</div>
