<div class="controller-section" ng-controller="Maven.VersionsController" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group section-filter">
        <input class="input-sm search-query form-control" type="text" ng-model="search" placeholder="Filter versions" />
        <i class="icon-remove clickable" title="Clear filter" ng-click="search = ''"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-include src="'app/maven/html/searchResults.html'"></ng-include>
  </div>
</div>
