<div class="row">
  <div class="col-md-6">
    <div class="form-group" ng-controller="Camel.AttributesToolBarController">
      <button class="btn btn-default" ng-disabled="!anySelectionHasState(['stop', 'suspend'])" ng-click="start()">
        <i class="icon-play-circle"></i> Start
      </button>
      <button class="btn btn-default" ng-disabled="!anySelectionHasState('start')" ng-click="pause()">
        <i class="icon-pause"></i> Pause
      </button>
      <button class="btn btn-default" ng-disabled="!anySelectionHasState(['start', 'suspend'])" ng-click="stop()">
        <i class="icon-off"></i> Stop
      </button>
      <button class="btn btn-default" ng-disabled="!everySelectionHasState('stop')" ng-click="delete()">
        <i class="icon-remove"></i> Delete
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group section-filter">
      <input class="input-sm form-control search-query" type="text" ng-model="$parent.gridOptions.filterOptions.filterText" placeholder="search">
      <i class="icon-remove clickable" title="Clear filter" ng-click="$parent.gridOptions.filterOptions.filterText = ''"></i>
    </div>
  </div>
</div>
