<div class="container-fluid" ng-controller="Camel.ProfileRouteController">

  <div class="row">
    <div class="pull-right">
      <form class="form-inline">
        <div class="form-group section-filter">
          <input class="input-sm form-control search-query" type="text" ng-model="gridOptions.filterOptions.filterText" placeholder="Filter...">
          <i class="icon-remove clickable" title="Clear filter" ng-click="gridOptions.filterOptions.filterText = ''"></i>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-show="data.length > 0">
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>
  <div class="row" ng-show="data.length == 0">
    Loading...
  </div>

</div>

